<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Title</title>
<!--   <meta name="description" content="">
  <meta name="author" content=""> -->
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>All my books!</h1>
  <a href="/books/new">Add a new Book</a>

  <% allBooks.forEach(function(book){ %>

  <h3>
  <a href="/books/<%= book.id%>"><%= book.title %> by <%= book.author %></a>
  </h3>




  <% }); %>
</body>
</html>